@import url("photographer.css");

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    margin: auto;
    padding: 1.5rem;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.header {
    max-width: 1040px;
    width: 100%;
    margin: auto;
}

h1 {
    color: #901C1C;
}

.btnLike {
    background: none;
    border: 0;
}

.logo {
    height: 50px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.photographer_section article h2 {
    margin: 0;
    padding-top: 20px;
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article p {
    margin-top: 6px;
    margin-bottom: 0;
}

.photographer_section article img {
    display: block;
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 100%;
}

.photographer_section article .city {
    color: #901C1C;
    font-size: 13px;
}

.photographer_section article .tagline {
    font-size: 10px;
}

.photographer_section article .price {
    color: #757575;
    font-size: 9px;
} 

.imgLike {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.imgLike .likeIcon {
    color: #901C1C;
    font-size: 24px;
    cursor: pointer;
}

.imgLike p {
    margin: 0;
}

.imgGalleryCard {
    position: relative;
    margin-bottom: 15px;
}

.imgGalleryCard  .linkGallery::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: transparent;
    content: "";
    transition: background 0.3s ease;
}

.imgGalleryCard  .linkGallery:hover::before {
    background: rgb(255 255 255 / 40%);
}


@media (min-width: 768px) {
    header {
        flex-direction: row;
    }

    .photographer_section {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .photographer_section {
        grid-template-columns: 1fr 1fr 1fr;
    }
}